In [8]:
from labeler_ui import Authentication, Dashboard
from labeler_client import Service
import pandas as pd
import os

labeler-ui: 1.0.7
labeler-client: 1.0.3

In [9]:
auth = Authentication() 
auth.show()

show(7fd7160fd280, self=<labeler_ui.widgets.Authentication.Authentication object at 0x7fd713f8fb50>)

LayoutWidget(Layout(show(7fd7160fd280, self=<labeler_ui.widgets.Authentication.Authentication object at 0x7fd7…

In [25]:
# connecting with auth object, need to re-authenticate every 60 mins
demo2 = Service(project='demo',auth=auth, host='http://labeler-demo-service-alb-1400746965.us-west-1.elb.amazonaws.com')

In [12]:
demo_token = 'gAAAAABjeENjt6K24nbrDRqkRRxDpguuplceq9bPHDmHQkKD_-qUt7mYef9SsBrWaRvsGwnVYTe7FjPieS8Msqqq8eNXvXLVYz3bSWjtXlJNFUX0q9Wu4PfujPe5mQBPFMdpjb4opJYDNpV2d0JGF981WSU1twFJFxlntu4AJlZNxwfEFW3DRcoYnOddTkVP1Gdq0cOBOrVjGHsjeIeTP1KVsCNFcfM3__Dt5HvPRW9HXndBCyDXyedA5Z4N1iCqsWMd2nJQpzLJ'

In [31]:
demo2.get_schemas().value(active=True)

[{'active': True,
  'created_on': 1670394460695,
  'schemas': {'label_schema': [{'level': 'record',
     'name': 'sentiment',
     'options': [{'text': 'positive', 'value': 'pos'},
      {'text': 'negative', 'value': 'neg'}]}]},
  'uuid': '09ebf279-8d56-455a-97c7-0facdeff0d4c'}]

In [28]:
demo2.get_schemas().set_schemas({
    'label_schema': [
        {
            "name": "sentiment",
            "level": "record", 
            "options": [
                { "value": "pos", "text": "positive" },
                { "value": "neg", "text": "negative" },
            ]
        }
    ]
})
demo2.get_schemas().value(active=True)

[{'active': True,
  'created_on': 1670394460695,
  'schemas': {'label_schema': [{'level': 'record',
     'name': 'sentiment',
     'options': [{'text': 'positive', 'value': 'pos'},
      {'text': 'negative', 'value': 'neg'}]}]},
  'uuid': '09ebf279-8d56-455a-97c7-0facdeff0d4c'}]

In [19]:
# importing data
df = pd.read_csv('tweets.csv').loc[:200]

df

,id,content,pseudo_label
0,5.678722e+17,@united how else would I know it was denied?,neg
1,5.678721e+17,@united obviously,neu
2,5.678721e+17,@JetBlue my SIL bought tix for us to NYC. We w...,neg
3,5.678720e+17,@JetBlue dispatcher keeps yelling and hung up ...,neg
4,5.678719e+17,@JetBlue now when I call it's still at the war...,neg
...,...,...,...
196,5.678382e+17,@SouthwestAir Not your finest moment in Boston...,neg
197,5.678377e+17,@united @annricord 0162431184663.\n3 of your a...,neg
198,5.678373e+17,@united if your air traffic crew could get the...,neg
199,5.678372e+17,"@JetBlue Flight 152 (N559JB) ""Here's Looking a...",neu
200,5.678370e+17,"@JetBlue. Punta Cana, to enjoy weather n see ...",neu

In [20]:
demo2.import_data_df(df, column_mapping={'id':'id',
                                        'content':'content'})

'201 data records imported into database.'

In [29]:
# search results => subset s1
s1 = demo2.search(keyword='', limit=10, start=0)
# bring up a widget 
s1.show()

show(7fd714ee2b80, self=<labeler_ui.widgets.Annotation.Annotation object at 0x7fd7161cbd00>)

LayoutWidget(Layout(show(7fd714ee2b80, self=<labeler_ui.widgets.Annotation.Annotation object at 0x7fd7161cbd00…